table {
	background: #333;
	border-collapse: collapse;
	border: 1px solid #000;
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

#total {
	border-bottom: 1px solid #000;
	color: #fff;
	font-size: 50px;
	height: 100px;
	padding-right: 0.5em;
	text-align: right;
}
table td {
	color: #fff;
	cursor: pointer;
	font-size: 50px;
	border: 1px solid #000;
	height: 100px;
	width: 100px;
}
table tr:nth-child(2) td:first-child {
	background-color: #a00;
}
table tr td:last-child {
	background-color: #eea23a;
}
table tr td.calculation-button{
	background-color: #fff;
	color: #eea23a;
}
